.body
{
    background-color: lightcoral;
    height: 300px;
    width: 600px;
    display: inline-block;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    margin-left: 100px;
}
.img
{
    height: 300px;
    width: 300px;
    border-radius: 20px 0px 0px 20px;
    position:absolute;
    top: 0;
    left: 0;

}
.p1
{
    width: 200px;
    height: 200px;
}
.p2
{
    width: 400px;
    height: 200px;
    position: absolute;
    left: 200px;
    text-align: start;
    padding: 10px;
}
.name
{
    font-size: 20px;
    margin-left: 100px;
}